
.dash{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

.guildIcon::selection, #guildIcons li a::selection, .missingGuild::selection {
  user-select: none;
}

.guildIcon {
  border-radius: 64px;
  min-height: 128px;
  max-height: 128px;
  background-color: #111111;
}

.missingGuild{
  width: 128px;
  height: 128px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  border-radius: 50%;
  background-color: var(--background-secondary);
  color: white;
  font-size: 1.6em;
}

.guildIcon:hover {
  opacity: 0.85;
}

#guildIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* 
.misssing-guild {
  position: relative;
  display: ;
} 
*/

.tooltip {
  position: relative;
  display: block;
  margin: 0 10px;
}

.tooltip a {
  color: rgba(0, 0, 0, 0);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--background-tertiary);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  width: 120px;
  top: 120%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--background-tertiary) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
