/* .swal2-popup {
  background: #fff0 !important;
}

.swal2-success-circular-line-left {
  background: #fff0 !important;
}

.swal2-success-circular-line-right {
  background: #fff0 !important;
}

.swal2-success-fix {
  background: #fff0 !important;
}

.swal2-title {
  color: #ffffff;
}

.swal2-content {
  color: #ffffff;
} */