<%- include("partials/header.ejs") %>
<div class="content">
    <div class="jumbo text-center">
        <div id="bot-pic"></div>
        <div id="blurb">
            <h2><b>Argon</b></h2>
            <!-- <h5>motto placeholder</h5> -->
        </div>
        <div class="buttons" style="margin-top: 30px; margin-bottom: 0;">
            <a class="dashboard" href="/dashboard">Dashboard</a>
            
            <% if(typeof user !== "undefined"){ %>
            <!-- <a class="dashboard" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="supporter" >Support Argon</a> -->
            <% } %>
        </div>
    </div>

    <div class="container main text-center">
        <div class="buttons">
            <a class="invite" href="https://discordapp.com/oauth2/authorize?client_id=784485575121436703&scope=bot&permissions=2146958839" target="_blank">Invite</a>
            <a class="discord" href="https://discord.gg/7JceW7S">Discord Server</a>
        </div>

        <div class="row" style="margin-bottom: 50px; display: flex; align-items: center;">
            <div class="one-third column value">
                <h1>Streamline support with Tickets</h1>
            </div>

            <div class="column value">
                <video class="skew" style="width: 100%;" autoplay loop>
                    <source src="/assets/tickets.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px; display: flex; align-items: center;">
            <div class="two-third column value">
                <video class="skew-alt" style="width: 100%;" autoplay loop>
                    <source src="/assets/web.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="one-third column value">
                <h1>Manage from the online Dashboard</h1>
                <!-- <h1>Protect against unwanted behavior</h1> -->
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px; display: flex; align-items: center;">
            <div class="one-third column value">
                <h1>Monitor Administrative actions</h1>
            </div>

            <div class="two-third column value">
                <video class="skew" style="width: 100%;" autoplay loop>
                    <source src="/assets/logs.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <!-- <div class="row">
            <div class="four columns value">
                <i class="fas fa-cogs value-img"></i>
                <h5>A fully featured web-panel interface with the bot.</h5>
            </div>

            <div class="four columns value">
                <i class="fas fa-users value-img"></i>
                <h5>Realtime multi-user/bot interaction.</h5>
            </div>
            
            <div class="four columns value">
                <i class="fas fa-shield-alt value-img"></i>
                <h5>Powerful passive and active moderation.</h5>
            </div>
        </div> -->
    </div>
</div>
<%- include("partials/footer.ejs") %>
