<%- include("partials/header.ejs") %>
<div class="content">
    <div class="jumbo text-center">
        <div id="bot-pic"></div>
        <div id="blurb">
            <h2><b>Support</b></h2>
            <!-- <h5>motto placeholder</h5> -->
        </div>
        <!-- <div class="buttons" style="margin-top: 30px; margin-bottom: 0;">
            <a class="dashboard" href="/dashboard">Dashboard</a>
            
            <% if(typeof user !== "undefined"){ %>
            <a class="dashboard" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="supporter" >Support Argon</a>
            <% } %>
        </div> -->
    </div>

    <div class="container main text-center">
        <div class="buttons">
            <!-- <a class="invite" href="https://discordapp.com/oauth2/authorize?client_id=584566571247337482&scope=bot&permissions=2146958839" target="_blank">Invite</a> -->
            <a class="discord" href="https://discord.gg/7JceW7S">Discord Server</a>
        </div>

        <div class="row">
            <a class="four columns value box" href="#">
                <div>
                    <i class="fab fa-discord value-img"></i>
                    <h5>Join Our Discord</h5>
                </div>
            </a>

            <a class="four columns value box" href="#">    
                <div>
                    <i class="fas fa-at value-img"></i>
                    <h5>Email Us</h5>
                </div>
            </a>
            
            <a class="four columns value box" href="https://support.argon.wtf">    
                <div>
                    <i class="fas fa-question-circle value-img"></i>
                    <h5>FAQ's</h5>
                </div>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="edd7d420-1256-4a5d-bf1a-3f20fbf9fd9c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

<%- include("partials/footer.ejs") %>
