<!-- <div class="footer text-center">
            <span>Powered by</span>
            <a href="https://discordapp.com/" target="_blank"><img src="/assets/discord-wordmark-white.svg"></a>
        </div>-->
<!-- STATUSPAGE -->
<script src="https://argon.statuspage.io/embed/script.js"></script>
</body>
<statuspage-widget src="https://argon.statuspage.io"></statuspage-widget>
<!-- <link href="/assets/css/footer.css" rel="stylesheet"> -->

</html>