<%- include("../../partials/header.ejs") %>
<%- include("../../partials/guildheader.ejs") %>
<div class="container main text-center">
  <form method="POST" action="/dashboard/<%-guild.id%>/general">
    <h4>Prefix</h4>
    <input type="checkbox" name="settings[disabledCommands][]" value="" data-inital="">
    <button type="submit">Save settings</button>
  </form>
</div>
<%- include("../../partials/footer.ejs") %>