<%- include("../../partials/header.ejs") %>
<%- include("../../partials/guildheader.ejs") %>
<div class="container main text-center">
  Music Category here
</div>
<%- include("../../partials/footer.ejs") %>